<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Demo foodRestaurant</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Manage</h4>
          <ul class="list-unstyled">
            <li><a href="./admin-item" class="text-white">Manage Item</a></li>
            <li><a href="./admin-faq" class="text-white">Manage FAQ</a></li>
            <li><a href="./admin-draw" class="text-white">Manage Draw</a></li>
            <li><a href="./index" class="text-white">Back to index</a></li>
            <li><a href="./logout" class="text-white">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>管理系統</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>