<nav class="navbar">
  <div class="wrapper">
    <div class="site-name">Just A Bite!</div>

    <input type="checkbox" />
    <div class="burger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul class="navbar-list">
      <li class="active"><a href="/draw">抽個大獎</a></li>
      <li><a href="/menu">我要點餐</a></li>
      <li><a href="#">查詢訂單</a></li>
      <li><a href="/faq">常見問題</a></li>
    </ul>
  </div>
</nav>