.debug *, .debug {
  outline: 1px solid gold; /*border not content*/
}

html {
  font-size: 12px;
}

html, body {
  width: 100%;
  height: 100%;
}

html, body, h1, p {
  padding: 0;
  margin: 0;
}

.card-info {
  margin:5px 10px;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 5px;
}

.card-date{
  font-size: 0.75rem;
  padding: 0px 5px 0px 5px;

}

.card-time {
  font-size: 0.5rem;
  color: gray;
}

.card {
  width: 200px;
  height: 180px;
  padding-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;

}

.card-thumbnails {
  background-image: url('./car.jpg');
  height: 70%;
  background-size: cover;
  overflow: hidden;
}

.mark {
  height: 5px;
  width: 5px;
  background: orange;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1px;
  vertical-align: baseline;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:first-child {
  flex-grow: 2;
  flex-shrink: 1;
}

.card:not(first-child) {
  flex-grow: 1;
  flex-shrink: 4;
}