.debug *, .debug {
  outline: 1px solid gold;
}

html {
  font-size: 12px;
}

body {
  font-family: 'Questrial', 'MicrosoftJhengHei', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

html, body, h1, p {
  padding: 0;
  margin: 0;
}

.navbar {
  position: sticky;
  z-index: 3;
  width: 100%;
  top: 0;
}

.navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
  background-color: white;
}

.site-name {
  color:#489846;
  font-size: 36px;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin:0;
  padding:0;
  font-size: 18px;
}

.navbar-list li{
  margin-left: 12px;
  border-radius: 8px;
  transition: background-color 0.5s;
}

.navbar-list li.active {
  background-color: #ff7286;
}

.navbar-list li.active,
.navbar-list li:hover {
  background-color: #ff7286;
}

.navbar-list li.active a,
.navbar-list li:hover a {
  color:white;
}

.navbar-list li a {
  text-decoration: none;
  color: black;
  display: block;
  padding:12px 24px;
  border-radius: 8px;
}

.navbar input {
  position: absolute;
  right: 0.5%;
  top: 20px;
  display: inline-block;
  height: 31px;
  width: 31px;
  opacity: 0;
  z-index: 1;
  margin: 5px;
}

.navbar span {
  background-color: #484848;
  height: 6px;
  width: 29px;
  display: block;
  margin: 6px;
  z-index: 1;
}

.navbar .burger {
  position: absolute;
  top: 20px;
  right: 0.5%;
  z-index: 0;
}

.wrapper {
  margin: 0 auto; /*center*/
  padding: 0px 85px;
}

.container {
  height: 767px;
  background-image: url(./picture/games-bn.png);
  background-size: cover;
}

.info {
  width: 500px;
  height: 635px;
  background: #ffffff;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.info h1{
  font-size: 2rem;
  color: #5ec1b6;
  font-weight: bold;
  text-align: center;
  padding: 40px 60px;
}

.info-content .title {
  font-size: 18px;
  font-weight: bold;
  margin-right: 22px;
  line-height: 2.5rem;
}

.info-content .content {
  font-size: 16px;
  width: 319px;
  line-height: 2.5rem;
  margin: auto;
}

.underline {
  height: 1px;
  width: 100%;
  background: #cdcdcd;
}

.btn-draw {
  width: 400px;
  height: 55px;
  font-size: 20px;
  transition: 0.5s;
  color: #ffffff;
  background: #e62a45;
  box-sizing: border-box; /* 好用 */
  border: 0px;
  position: relative;
  left: 50%;
  transform: translate(-50%,0);
  border-radius: 10px;
}

.btn-draw:hover {
  color: #ffffff;
  background: #ff3956;
  transition: 0.5s;
}

.info-content > div {
  margin-bottom: 22px;
  display: flex;
}

.draw-result {
  width: 80%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.draw-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 55px;
}

.draw-result .btn-draw {
  left: 0;
  transform: translate(0,0);
}

.white-block {
  background: rgba(256,256,256,0.75);
  padding: 20px 0;
  width: 100%;
}

.container-prize {
  height: 767px;
  background-size: cover;
}

.footer-bottom {
  background-color: #35564b;
  padding: 12px;
  text-align: center;
  color: white;
  font-size: 16px;
}

.footer-top {
  background-color: #e8efee;
  padding: 32px;
  color: #484848;
}

.footer-top .wrapper {
  display:flex;
  justify-content: space-between;
}

.footer-top .contact-inform {
  font-size: 14px;
}

.footer-info {
  margin-right: 16px;
  font-size: 14px;
}

.footer-info div{
  color: #484848;
}

.footer-info div + div{
  margin-top: 10px;
}

.footer-site {
  font-size: 36px;
  color: #489846;
}

@media(max-width: 768px) {
  .navbar .wrapper {
    flex-direction: column;
    height: 100px;
    justify-content: space-between;
    padding: 0px;
  }

  .site-name {
    margin-top: 10px;
  }

  .navbar-list {
    display: flex;
    width: 100%;
  }

  .navbar-list li {
    flex: 1;
    margin-left: 0;
    border-radius: 0;
    text-align: center;
  }

  .info {
    width: 80%;
    text-align: center;
    height: auto;
  }

  .info-content > div {
    display: block;
    
  }

  .info-content .title {
    text-align: center;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .prize .content {
    text-align: left;
  }

  .btn-draw {
    width:100%;
  }

  .info-content {
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    width: 80%;
  }

  .footer-top .wrapper {
    flex-direction: column-reverse;
  }

  .footer-info {
    margin-right: 0;
    margin-top: 16px;
  }
}

@media (max-width: 480px) {

  .navbar .wrapper {
    height: fit-content;
    padding: 10px;
  }

  /* 讓手機板有漢堡選單 */
  .navbar {
    padding: 0;
  }

  .navbar-list {
    display: block;
    width: 100%;
    top: 71px;
    position: absolute;
    /* 清單原本飄出視窗外, ckeckbox 被點擊之後取消 transform 讓清單飄回來 */
    transform: translate(0%,-170%);
  }

  /* 一旦 checkbox 被點選之後, 讓選單從視窗外面飄回來 */
  input:checked ~ .navbar-list {
    transform: none;
    transition: 0.4s;
    z-index: 3;
    width: 100%;
    left: 0;
    top: 71px;
    background: whitesmoke;
    opacity: 95%;
  }

  /* 讓漢堡選單被點選之後有出現 X 的動畫效果, 需要配合 JS */
  .change :nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 11px;
  }

  .change :nth-child(2) {
    display: none;
  }

  .change :nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -1px;
  }
  
  .container {
    height: auto;
  }

  .info {
    left: 0;
    top: 0;
    transform: translate(0, 0);
    margin: auto;
  }

  .info-content .content {
    font-size: 16px;
    width: auto;
    line-height: 2.5rem;
    word-break: break-word;
  }

  .btn-draw {
    width: 100%;
  }
}