/* .debug *, .debug {
  outline: 1px solid gold;
} */

html {
  font-size: 12px;
}

html, body {
  width: 100%;
  height: 100%;
}

html, body, h1, p {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Questrial', 'MicrosoftJhengHei', sans-serif;
}

input {
  margin-right: 10px;
}

.top {
  background: #2C5E9E;
  padding-bottom: 10px;
}

.wrapper {
  width: 80%;
  margin: auto;
  background: #F6F8F8;
  
}

h1 {
  font-size: 5rem;
  text-align: center;
  color: #F6F8F8;
}

.input {
  margin: 10px auto;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  flex-wrap: wrap;
}

.input input {
  width: 80%;
}

.list {
  margin: 0 auto;
  font-size: 2rem;
}

.single {
  display: flex;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  border-bottom: solid 1px #155B92;
}

.single p {
  flex-grow: 1;
  background: #F6F8F8;
  margin-right: 10px;
  word-break: break-word; /* 避免爆框 */
}

.del {
  text-decoration: line-through;
}
