<html>
  <head>
    <%- include('template/head.ejs') %>
  </head>

  <body>
    <div class="user-block">
        <h1>Register</h1>
        <div class="comment">
          <form action="./register" method="POST">
            <label for="username">USERNAME</label>
            <input type="text" id="username" name="username" placeholder="">
            <label for="content">PASSWORD</label>
            <input type="password" id="password" name="password" placeholder="">
            <p style="text-align: center; color: #d80000;">
            <%= errMessage %>
            </p>
            <input type="submit" value="Register">
          </form>
        </div>
    </div>
  </body>
</html>